@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, button, input{
  font-family: 'DM Sans', sans-serif;
  font-size: min(50% + 1.5vw, 20px);;
}

a{
  text-decoration: none;
  color: black;
}

button{
  cursor: pointer;
  background-color: unset;
  border:none;
}

input:focus::-webkit-input-placeholder{
  color: transparent
}

.redirect-text{
  margin: 10px 0;
}

.error{
  color: red;
}

.form-field{
  display: flex;
  width: 60vmin;
  gap: 10px;
  flex-direction: column;
}

.form-field > input{
  font-size: 1rem;
  padding: 1.6%;
  border-radius: 5px;
  border-width: 1px;
}

.submit-button{
  display: flex;
  justify-content: flex-end;
}

.submit-button > button{
  padding: 1%;
}

.password-email-sent{
  color: green;
}

.page{
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header{
  z-index: 100;
  flex: 0 1 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  border-bottom: black 1px solid;
}

.header-btn{
  cursor: pointer;
}

.set-booking-date{
  display: flex;
  width: 100%;
  gap: 3em;
  flex-direction: row;
}

.date-set-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.set-booking-form{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.date-modal-btns{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.date-modal-btns > button{
  padding: 1%;
}

.set-location-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.5em;
  align-items: center;
}

.set-location{
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-input{
  font-size: 1rem;
  width: 100%;
  padding: 10px;
}

.autocomplete-dropdown{
  width: 100%;
  height: 1rem;
}

.dropdown-list{
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  list-style: none;
}

.location-input-field{
  position: relative;
  width: 80%;
}

.submit-location{
  padding: 2%;
}

.dropdown-option{
  padding: 0.5em;
  cursor: pointer;
  font-size: 0.75em;
  width: 100%;
  text-align: start;
  background-color: unset;
  border: 0;
}

.location-error{
  height: 1rem;
  padding: 5px;
  color: red;
}

.forgot-pass{
  width: fit-content;
}

.booking-option-img{
  height: 100%;
  width: 100%;
}

.booking-option-details{
  width: 100%;
  text-align: start;
}

.booking-carousel-ctn{
  width: 100vw;
  height: 100%;
  top: 2vh;
  overflow: hidden;
  display: flex;
  position: absolute;
  justify-content: center;
}

.booking-carousel{
  position: relative;
  display: flex;
  align-items: center;
}

.booking-option{
  height: fit-content;
  width: 35vw;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  align-items: center;
}  

.book-btn{
  align-self: flex-end;
}

.page-content{
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-btns{
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-btns > button{
  margin: 20px;
  position: absolute;
}

.warning-btns{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.booking{
  position: relative;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  gap: 2%;
  width: 65vw;
  flex-wrap: wrap;
}

.booked-img{
  min-width: 200px;
  height: auto;
  flex: 1 auto 15vw;
  border-radius: 10px;
}

.booked-details{
  padding: 3% 2%;
  display: flex;
  flex-flow: column;
  word-wrap:break-word;
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  gap: 10px;
  flex: 1 0 40vw;
}

.booking-footer{
  position: relative;
  height: 100%;
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.details-ctn{
  padding: 5px 0;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);
}

.edit-form{
  width: 40vw;
  gap: 10px;
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
}

.edit-form > *{
  flex-basis: 100%;
}

.edit-form-btns{
  padding: 5% 0 0 0;
  display: flex;
  justify-content: space-between;
}

.update-profile-form{
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  width: 50vmax;
  gap: 30px;
  flex-wrap: wrap;
}

.profile-pic > img{
  border-radius: 50%;
  border: 1px solid black;
  height: 130px;
  width: 130px;
}

.profile-pic-ctn{
  display: flex;
  align-items: center;
  gap: 50px;
}

.update-form-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 100%;
}

.profile-pic-upload{
  display: flex;
  flex-direction: column;
  gap: 10px;
}