@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, button, input{
  font-family: 'DM Sans', sans-serif;
  font-size: min(50% + 1.5vw,20px);;
}

a{
  text-decoration: none;
  color: black;
}

button{
  cursor: pointer;
}

input:focus::-webkit-input-placeholder{
  color: transparent
}

.modal{
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey; 
  height: auto;
  border-radius: 5px;
  padding: 3%;
}

.redirect-text{
  margin: 10px 0;
}

.error{
  color: red;
}

.modal-header{
  display: grid;
  place-items: center;
  font-weight: 500;
}

.modal > *{
  width: 100%;
}

.modal-container{
  display: grid;
  position: absolute;
  width: 100%;
  top: 0;
  place-items: center;
  height: 100vh;
}

.form-field{
  display: flex;
  width: 60vmin;
  gap: 10px;
  flex-direction: column;
}

.form-field > input{
  font-size: 1rem;
  padding: 1.6%;
  border-radius: 5px;
  border-width: 1px;
}

.submit-button{
  display: flex;
  justify-content: flex-end;
}

.submit-button > button{
  padding: 1%;
}

.password-email-sent{
  color: green;
}

.header{
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  border-bottom: black 1px solid;
}

.header-btn{
  cursor: pointer;
}

.set-booking-date{
  display: flex;
  width: 100%;
  gap: 3em;
  flex-direction: row;
}

.date-set-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.set-booking-form{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.date-modal-btns{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.date-modal-btns > button{
  padding: 1%;
}

.set-location-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  align-items: center;
}

.set-location{
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-input{
  font-size: 1rem;
  width: 100%;
  padding: 10px;
}

.autocomplete-dropdown{
  width: 100%;
  height: 1rem;
}

.dropdown-list{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  list-style: none;
}

.location-input-field{
  width: 80%;
}

.submit-location{
  padding: 2%;
}

.dropdown-option{
  cursor: pointer;
  width: 100%;
  text-align: start;
  background-color: unset;
  border: none;
}

.location-error{
  height: 1rem;
  padding: 5px;
  color: red;
}